In [1]:
import pandas as pd

In [2]:
dataset=pd.read_csv("Preprocessed_Placement.csv")

In [3]:
dataset

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,1.0,67.00,91.00,58.00,55.0,58.80,270000.000000,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,2.0,79.33,78.33,77.48,86.5,66.28,200000.000000,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,3.0,65.00,68.00,64.00,75.0,57.80,250000.000000,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,4.0,56.00,52.00,52.00,66.0,59.43,288655.405405,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,5.0,85.80,73.60,73.30,96.8,55.50,425000.000000,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211.0,80.60,82.00,77.60,91.0,74.49,400000.000000,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,212.0,58.00,60.00,72.00,74.0,53.62,275000.000000,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,213.0,67.00,67.00,73.00,59.0,69.72,295000.000000,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,214.0,74.00,66.00,58.00,70.0,60.23,204000.000000,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,215.0,62.00,58.00,53.00,89.0,60.22,288655.405405,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [4]:
dataset.isnull().sum()

sl_no             0
ssc_p             0
hsc_p             0
degree_p          0
etest_p           0
mba_p             0
salary            0
gender            0
ssc_b             0
hsc_b             0
hsc_s             0
degree_t          0
workex            0
specialisation    0
status            0
dtype: int64

Independent Sample - Unpaired T-Test

Group : Different ( Male / Female ) ; Condition : Same ( Salary ) Different Group - Same Condition - Unpaired

In [5]:
from scipy.stats import ttest_ind

dataset=dataset.dropna()

####print(dataset.columns)

male = dataset.loc[dataset['gender'] == 'M', 'salary']

female=dataset.loc[dataset['gender']=='F','salary']

ttest_ind(male,female)

TtestResult(statistic=np.float64(1.9001627265152634), pvalue=np.float64(0.05876239427122641), df=np.float64(213.0))

In [6]:
##### Independent / Unpaired 
##### Group - ssc_b : Central / Others ; Condition - Salary


from scipy.stats import ttest_ind

dataset=dataset.dropna()

####print(dataset.columns)

Central = dataset.loc[dataset['ssc_b'] == 'Central', 'salary']

Others =dataset.loc[dataset['ssc_b']=='Others','salary']

ttest_ind(Central,Others)

TtestResult(statistic=np.float64(-0.06718399145137142), pvalue=np.float64(0.9464982502258081), df=np.float64(213.0))

In [7]:
##### Independent / Unpaired 
##### Group - hscc_b : Central / Others ; Condition - Salary


from scipy.stats import ttest_ind

dataset=dataset.dropna()

####print(dataset.columns)

Central = dataset.loc[dataset['hsc_b'] == 'Central', 'salary']

Others =dataset.loc[dataset['hsc_b']=='Others','salary']

ttest_ind(Central,Others)

TtestResult(statistic=np.float64(0.09117578929975474), pvalue=np.float64(0.9274385986418501), df=np.float64(213.0))

In [13]:
##### Independent / Unpaired 
##### Group - degree - Sci&tech / Comm& Mgmt Condition - Salary


from scipy.stats import ttest_ind

dataset=dataset.dropna()

####print(dataset.columns)

Sci = dataset.loc[dataset['degree_t'] == 'Sci&Tech', 'salary']

Comm =dataset.loc[dataset['degree_t']=='Comm&Mgmt','salary']

ttest_ind(Sci,Comm)

TtestResult(statistic=np.float64(2.067868044548338), pvalue=np.float64(0.03992650848980783), df=np.float64(202.0))

In [15]:
##### Independent / Unpaired 
##### Group - specialisation : Mkt&HR , Mkt&Fin -  Condition - Salary


from scipy.stats import ttest_ind

dataset=dataset.dropna()

####print(dataset.columns)

MHR = dataset.loc[dataset['specialisation'] == 'Mkt&HR', 'salary']

MFIN =dataset.loc[dataset['specialisation']=='Mkt&Fin','salary']


ttest_ind(MHR,MFIN)

TtestResult(statistic=np.float64(-1.725455671862782), pvalue=np.float64(0.08589572350178445), df=np.float64(213.0))

In [16]:
##### Independent / Unpaired 
##### Group - Workex Yes/No-  Condition - Salary


from scipy.stats import ttest_ind

dataset=dataset.dropna()

####print(dataset.columns)

Wyes = dataset.loc[dataset['workex'] == 'Yes', 'salary']

Wno =dataset.loc[dataset['workex']=='No','salary']


ttest_ind(Wyes,Wno)

TtestResult(statistic=np.float64(1.7410702344097009), pvalue=np.float64(0.08311516882451005), df=np.float64(213.0))